Repository MikeDevice/babel-plugin-styled-props-conditions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, yaspeller-ci

prevent adding dublicate import
  package.json
  src/index.js
  test/plugin/fixtures/nestedConditions/output.js
  test/plugin/fixtures/plainConditions/output.js
Due: eslint

refactor scripts
  package-lock.json
  package.json
Due: none

add test
  test/plugin/fixtures/ensureSingleCssImport/code.js
  test/plugin/fixtures/ensureSingleCssImport/output.js
Due: eslint

prevent adding duplicate css imports (#4)
  package-lock.json
  package.json
  src/index.js
  test/plugin/fixtures/ensureSingleCssImport/code.js
  test/plugin/fixtures/ensureSingleCssImport/output.js
  test/plugin/fixtures/nestedConditions/output.js
  test/plugin/fixtures/plainConditions/output.js
Due: eslint

add basics
  example/.babelrc
  example/.gitignore
  example/package-lock.json
  example/package.json
  example/src/App/App.jsx
  example/src/App/index.jsx
  example/src/index.html
  example/src/index.jsx
  example/webpack.config.js
Due: eslint

add linter
  .eslintignore
  .gitignore
  .huskyrc
  .lintstagedrc
  example/.eslintignore
  example/.eslintrc
  example/.gitignore
  example/.lintstagedrc
  example/package-lock.json
  example/package.json
  example/webpack.config.js
  package-lock.json
  package.json
Due: eslint

edit lint commands
  example/package.json
  package.json
Due: none

add "postinstall" command
  package.json
Due: none

edit lint commands
  .travis.yml
  package.json
Due: none

refactor
  .gitignore
  .lintstagedrc
  example/.gitignore
  example/.lintstagedrc
  example/package.json
  package.json
Due: none

add styled basics
  example/.babelrc
  example/package-lock.json
  example/package.json
  example/src/App/App.jsx
  example/src/App/GlobalStyles.js
  example/src/App/components/Button.js
  example/src/App/components/Page/Button.js
  example/src/App/components/Page/Page.js
  example/src/App/components/Page/index.jsx
Due: eslint

add some html
  example/.babelrc
  example/package-lock.json
  example/package.json
  example/src/App/App.jsx
  example/src/App/Block.js
  example/src/App/GlobalStyles.js
  example/src/App/components/Button.js
  example/src/App/components/Page/Button.js
  example/src/App/components/Page/Page.js
  example/src/App/components/Page/index.jsx
Due: eslint

remove cyclic dependency
  example/.babelrc
  example/package-lock.json
  example/package.json
  package.json
Due: none

add styled basics (#6)
  example/.babelrc
  example/package-lock.json
  example/package.json
  example/src/App/App.jsx
  example/src/App/Block.js
  example/src/App/GlobalStyles.js
  package.json
Due: eslint

add example (#5)
  .eslintignore
  .huskyrc
  .lintstagedrc
  .travis.yml
  example/.babelrc
  example/.eslintignore
  example/.eslintrc
  example/.gitignore
  example/.lintstagedrc
  example/package-lock.json
  example/package.json
  example/src/App/App.jsx
  example/src/App/Block.js
  example/src/App/GlobalStyles.js
  example/src/App/index.jsx
  example/src/index.html
  example/src/index.jsx
  example/webpack.config.js
  package-lock.json
  package.json
Due: eslint

edit .lintstagedrc
  .lintstagedrc
Due: none

add stylelint
  example/.stylelintrc
  example/package-lock.json
  example/package.json
Due: none

add README.md for example
  example/README.md
Due: yaspeller-ci

improve examples and add info about linter
  .yaspellerrc
  README.md
Due: yaspeller-ci

refactor
  README.md
Due: yaspeller-ci

some edits
  README.md
Due: yaspeller-ci

improve readme (#7)
  .yaspellerrc
  README.md
Due: yaspeller-ci

add release shield
  README.md
Due: yaspeller-ci

edit README.md
  README.md
Due: yaspeller-ci

1.1.0
  package-lock.json
  package.json
Due: none

edit installing scripts
  .travis.yml
  package.json
Due: none

some changes
  .travis.yml
Due: none

edit README.md in example folder
  example/README.md
Due: yaspeller-ci

fix installing scripts (#8)
  .travis.yml
  example/README.md
  package.json
Due: yaspeller-ci

1.1.1
  package-lock.json
  package.json
Due: none

update dependencies
  package-lock.json
  package.json
Due: none

update dependencies in example/
  example/package-lock.json
  example/package.json
Due: none

update dependencies (#9)
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
Due: none

edit .travis.yml
  .travis.yml
Due: none

1.1.2
  package-lock.json
  package.json
Due: none

1.1.3
  package-lock.json
  package.json
Due: none

update example dependencies
  example/package-lock.json
  example/package.json
Due: none

fix lint
  example/.eslintrc
Due: none

Path conditions:
  eslint: any of: *.js
  yaspeller-ci: any of: *.md
